@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
     <nav class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar bg-white border-bottom box-shadow top-nav-collapse">

        <div class="d-flex justify-content-lg-start">
            <a class="navbar-brand">
                <img src="~/images/logo.png" width="100" height="40" class="d-inline-block align-top" alt="Elluris">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse d-flex justify-content-center">
            <ul class="navbar-nav flex-grow-1 justify-content-center">
                <li class="nav-item">
                    <h3 class="text-info">Controle de Eventos Culturais</h3>
                </li>
            </ul>
        </div>

        <div class="row mr-auto pl-2">
            <span class="d-none d-md-inline-block">

                <a asp-controller="EventoPeriodos" asp-action="Index" id="navbar-category-gettingstarted-jquery"
                   class="btn btn-info btn-sm my-0 waves-effect waves-light" role="button">
                    <span class="d-none d-lg-inline-block mr-1">Períodos</span>
                    <i class="fas fa-calendar"></i>
                </a>
                <a asp-controller="Eventos" asp-action="Index" id="navbar-category-tutorial-jquery"
                   class="btn btn-info btn-sm my-0 waves-effect waves-light" role="button">
                    <span class="d-none d-lg-inline-block mr-1">Eventos</span>
                    <i class="fas fa-artstation"></i>
                </a>
                <a asp-controller="Beacons" asp-action="Index"  id="navbar-category-tutorial-jquery" 
                   class="btn btn-info btn-sm my-0 waves-effect waves-light" role="button">
                    <span class="d-none d-lg-inline-block mr-1">Beacons</span>
                    <i class="fas fa-bluetooth"></i>
                </a>
                <a asp-controller="Obras" asp-action="Index"   id="navbar-category-tutorial-jquery"
                   class="btn btn-info btn-sm my-0 waves-effect waves-light" role="button">
                    <span class="d-none d-lg-inline-block mr-1">Obras</span>
                    <i class="fas fa-globe"></i>
                </a>
            </span>
            <form asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" style="padding-left:20px;">
                <button type="submit" class="btn btn-info btn-sm my-0 waves-effect waves-light">
                    <i class="l-basic-signs"></i>
                    <span class="d-none d-lg-inline-block mr-1">Logout</span>
                </button>
            </form>

        </div>

    </nav>
}
else
{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 col-md-12">
        <div class="d-flex justify-content-lg-start">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" width="100" height="40" class="d-inline-block align-top" alt="Elluris">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1  justify-content-center">
                <li class="nav-item">
                    <h3 class="text-primary">Sistema de Controle de Eventos Culturais</h3>
                </li>
            </ul>
        </div>
    </nav>
}
