@model Nodus.Elluris.Domain.Models.Evento

@{
    ViewData["Title"] = "Detalhes do Evento";
}

<div class="card">
    <div class="card-header text-white bg-info mb-3">
        <h1>Detalhes do Evento</h1>
    </div>
    <div class="card-body">
        <partial name="_delete_details_evento" />
        <div>
            <a asp-controller="Eventos" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Editar</a>
            <a asp-controller="Eventos" asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</div>



