@model Nodus.Elluris.Domain.Models.EventoPeriodo

@{
    ViewData["Title"] = "Adicionar Período";
}

    <div class="card">
        <div class="card-header text-white bg-info mb-3">
            <h1>Adicionar Período</h1>
        </div>
        <div class="card-body">
            <partial name="_edit_create_periodo" />
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
