@model Nodus.Elluris.Domain.Models.EventoPeriodo

@{
    ViewData["Title"] = "Editar Período";
}
<div class="card">
    <div class="card-header text-white bg-info mb-3">
        <h1>Detalhes do Período</h1>
    </div>
    <div class="card-body">
        <partial name="_delete_details_periodo" />
        <div>
            <a asp-controller="EventoPeriodos" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Editar</a> 
            <a asp-controller="EventoPeriodos" asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</div>