@model Nodus.Elluris.Domain.Models.EventoPeriodo

@{
    ViewData["Title"] = "Editar Período";
}

<div class="card">
    <div class="card-header text-white bg-info mb-3">
        <h1>Editar Período</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-controller="EventoPeriodos" asp-action="Edit">
                    <partial name="_edit_create_periodo" />
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                        <a asp-controller="EventoPeriodos" asp-action="Index" class="btn btn-info">Voltar à lista</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
