@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Recuperação de senha enviado";
}

<h1>@ViewData["Title"]</h1>
<p>
    Verifique seu e-mail para criar uma nova senha.
</p>
<form action="/Identity/Account/Login">
    <button type="submit" class="btn btn-info">Voltar</button>
</form>


